.paper {
  margin-top: -20px;
  padding: 30px;
  border-radius: 0;

  p {
    margin-bottom: 15px;
    font-size: 18px;
  }
}
.title {
  margin-bottom: 20px !important;
  font-size: 36px !important;
  font-weight: 500 !important;
}
.userInfo {
  display: flex;
  align-items: center;

  img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
  }
  b {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 500;
  }
  span {
    font-size: 16px;
    font-weight: 500;
    color: #2ed83e;
  }
}
